*{
  margin:0;
  padding:0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
  background-image: url(banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.page-wrapper{
  display: grid;
  grid-template-rows: 830px 400px 100px;
  grid-template-areas:"header" 
                      "main"
                      "footer";

}


.header{
  grid-area: header;
  text-align: center;
  padding-top: 350px;
  font-size: 40px;
  padding-left: 200px;
  max-height: 830px;
  color: aliceblue;
}

.sidebar{
  position: fixed;
  background-color: white;
  width: 13%;
  height: 100%;
  padding-top: 300px;
  padding-left:60px;
  z-index: 9999;
}

ul li{
  list-style: none;
  position: relative;
  line-height: 20px;
  width:120px;
  text-align: center;
  margin: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size:18px;
  color:white;
}

a:link{
  text-decoration: none;
  color:black
}

a:visited{
  text-decoration: none;
  color: darkslateblue;
}
ul li:hover{
  background-color:burlywood;
}

.main{
  grid-area: main;
  position: relative;
  background-color:blanchedalmond;
  opacity: 0.8;
  max-width: 1300px;
  padding-left:260px;
  padding-top: 50px;
  text-align: center;
}

.footer{
  grid-area: footer;
  background-color:darkgrey;
  opacity: 0.8;
  padding-left:300px;
  padding-top: 30px;
  text-align: center;
}