*{
  margin:0;
  padding:0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
  background-image: url(banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.page-wrapper{
  display: grid;
  grid-template-rows: 830px 400px 100px;
  grid-template-areas:"header" 
                      "main"
                      "footer";
}

.header{
  grid-area: header;
  text-align: center;
  padding-top: 350px;
  font-size: 40px;
  padding-left: 200px;
  max-height: 830px;
  color: aliceblue;
}

.sidebar{
  position: fixed;
  background-color: white;
  color: #A0522D;
  width: 17%;
  height: 100%;
  padding-top: 250px;
  z-index: 9999;
  text-align: center;
  }

ul li{
  display: inline-block;
  list-style: none;
  position: relative;
  top: -30px;
  line-height: 20px;
  width:120px;
  text-align: center;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size:18px;
}

a:link{
  text-decoration: none;
  color:#A0522D;
}

a:visited{
  text-decoration: none;
  color:#D8B29F ;
}

ul li:hover{
  background-color:#F3E3CB;
  font-style: italic;
}

img{
  display: inline-block;
  width: 130px;
}

.main{
  grid-area: main;
  position: relative;
  background-color:blanchedalmond;
  opacity: 0.9;
  max-width: 1300px;
  padding-left:460px;
  padding-right: 200px;
  padding-top: 100px;
  text-align: center;
  color: #8B4513  ;
}

.p1{
  text-align: justify;
}

.p2{
  font-style: italic;
}

.footer{
  grid-area: footer;
  background-color:darkgrey;
  color: #F5F5F5   ;
  opacity: 0.8;
  padding-left:300px;
  padding-top: 30px;
  text-align: center;
}
